<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="model" type="com.example.controller.IndexController.IndexModel"*/-->
<head>
    <meta charset="UTF-8"/>
    <title>ルートページ</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-css-only/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-css-only/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <h2 class="panel-heading">It works!</h2>
        <div class="panel-body">
        <h4 th:text="${model.now}"></h4>
        </div>
    </div>
</div>
</body>
</html>
