.gradle/
build/
memo/

out/
.idea/
*.ipr
*.iws

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.project
.classpath

nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

java-projects/object-mapping-projects/

settings.gradle
