.gradle/
build/
memo/

out/
.idea/
*.ipr
*.iws
classes/


bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.project
.classpath

nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

settings.gradle

application-secret.properties

**/db/data
**/crate/data
**/neo4j/data

# javascript modules
**/node_modules/
