# sample my.cnf
# [client]
# character_set_server=utf8mb4

[mysqld]
transaction-isolation = REPEATABLE-READ
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci

innodb_large_prefix=ON
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_file_per_table=true
innodb_buffer_pool_size = 256M

[mysql]
# character_set_server=utf8mb4

[mysqldump]
# character_set_server=utf8mb4
